{% extends "index.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="container">
</div>
<div class="team-hub">
<header> <h4> PeerWeb for your team </h4> </header>
<center> &nbsp;Limitless Possibilites with this new approach to connect and learn </center>
<br/><br/>
&nbsp; Connect members of your team and enable the learning and sharing at a new level. PeerWeb helps you to decentralise the
learning and reduces the cost of &nbsp;&nbsp;learning to almost zero. Education should be free.
</div>
<div class="whats-new">
<header> <h4> What's new at PeerWeb </h4> </header> <br/>
&nbsp; PeerWeb open endpoints which can be consumed at very high efficieny. <br/>
&nbsp; Enjoy super fast and decentralised sharing
</div>
<div class="demo-banner">
<h4> Try peerWeb with your team for free </h4>
<a class="nav-link" href=#>GET STARTED </a>
</div>
{% endblock %}
