{% extends "index.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
{% if synced == 1 %}
  <strong>Success!</strong> Peer Sync Success
{% elif synced == 2 %}
  <strong>Failed!</strong> Peer Sync Failed
{% endif %}
  <h1> Peers </h1>
  {% for id in range(0, peers | length) %}
    {% if status[id] == "Dead" %}
      <li style="color:red;margin-left:20px;font-size:1.5em"> {{ peers[id] }} {{status[id]}}</li>
    {% else %}
      <li style="color:green;margin-left:20px;font-size:1.5em">
        <a href="http://localhost:{{port}}/peers/sync/{{peers[id]}}">{{ peers[id] }} {{status[id]}} </a>
      </li>
    {% endif %}
  {% endfor %}
{% endblock %}
