{% extends "index.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1> Status - Services </h1>
    <li style = "margin-left:20px;font-size:1.5em"> Peer Status Service- <font color = "green"> Running </font> @ / </li>
    <li style = "margin-left:20px;font-size:1.5em"> Peer Update Service - <font color = "green"> Running </font> @ ip:port/peers/&ltip&gt/&ltstatus&gt </li>
    <li style = "margin-left:20px;font-size:1.5em"> Peer Sync Service - <font color = "green"> Running </font> @ ip:port/peers/sync/&ltip&gt </li>
    <li style = "margin-left:20px;font-size:1.5em"> Peer Health Service - <font color = "green"> Running </font> @ ip:port/peers/active </li>
    <li style = "margin-left:20px;font-size:1.5em"> File Services - <font color = "green"> Running </font> </li>
{% endblock %}
